/* Add application styles & imports to this file! */
.loader {
    border: 3px dotted #B2B2B2; 
    border-top: 3px solid #E23237; 
    border-radius: 50%;
    width: 32px;
    height: 32px;
    animation: spin 2s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }